# Atelier 6

---

## Instructions

En se basant sur le fichier sql (ci-dessous) et la figure, vous devez réaliser les étapes suivantes en utilisant les requêtes SQL. </br>

![6_schema_figure.png](6_schema_figure.png)

---

### Partie 0 - Imports et fonctions

In [ ]:
import sqlite3 as sq
import mysql.connector as cnt

def connect_db(host, user, pswd, database = None):
    db = cnt.connect(
        host = host,
        user = user,
        passwd = pswd,
        database = database
    )
    return(db)

def exe(db, request, value = None, verbose = False, name = False):
    cursor = db.cursor(buffered = True)
    
    if value:
        cursor.execute(request, value)

    else :
        cursor.execute(request)

    db.commit()
    
    if verbose:
        result = cursor.fetchall()
        if name:
            result.insert(0, cursor.column_names)
        return(result)

---

### Partie 1 - création de la base et des tables :

### 1.1/ créer une nouelle base données nommée atelier 6

In [ ]:
db = connect_db('192.168.20.118', 'grogu', 'grogu')

query = 'CREATE DATABASE IF NOT EXISTS atelier6;'

exe(db, query)

#### 1.2/ Imiter les requêtes du fichier sql shema pour créer les tables et les remplir.

```

create table Scientists (
  SSN int,
  Name Char(30) not null,
  Primary Key (SSN)
);

Create table Projects (
  Code Char(4),
  Name Char(50) not null,
  Hours int,
  Primary Key (Code)
);

create table AssignedTo (
  Scientist int not null,
  Project char(4) not null,
  Primary Key (Scientist, Project),
  Foreign Key (Scientist) references Scientists (SSN),
  Foreign Key (Project) references Projects (Code)
);

INSERT INTO Scientists(SSN,Name) 
  VALUES(123234877,'Michael Rogers'),
    (152934485,'Anand Manikutty'),
    (222364883, 'Carol Smith'),
    (326587417,'Joe Stevens'),
    (332154719,'Mary-Anne Foster'),	
    (332569843,'George ODonnell'),
    (546523478,'John Doe'),
    (631231482,'David Smith'),
    (654873219,'Zacary Efron'),
    (745685214,'Eric Goldsmith'),
    (845657245,'Elizabeth Doe'),
    (845657246,'Kumar Swamy');

INSERT INTO Projects ( Code,Name,Hours) VALUES ('AeH1','Winds: Studying Bernoullis Principle', 156),
       ('AeH2','Aerodynamics and Bridge Design',189),
       ('AeH3','Aerodynamics and Gas Mileage', 256),
       ('AeH4','Aerodynamics and Ice Hockey', 789),
       ('AeH5','Aerodynamics of a Football', 98),
       ('AeH6','Aerodynamics of Air Hockey',89),
       ('Ast1','A Matter of Time',112),
       ('Ast2','A Puzzling Parallax', 299),
       ('Ast3','Build Your Own Telescope', 6546),
       ('Bte1','Juicy: Extracting Apple Juice with Pectinase', 321),
       ('Bte2','A Magnetic Primer Designer', 9684),
       ('Bte3','Bacterial Transformation Efficiency', 321),
       ('Che1','A Silver-Cleaning Battery', 545),
       ('Che2','A Soluble Separation Solution', 778);

INSERT INTO AssignedTo ( Scientist, Project)
   VALUES (123234877,'AeH1'),
    (152934485,'AeH3'),
    (222364883,'Ast3'),	   
    (326587417,'Ast3'),
    (332154719,'Bte1'),
    (546523478,'Che1'),
    (631231482,'Ast3'),
    (654873219,'Che1'),
    (745685214,'AeH3'),
    (845657245,'Ast1'),
    (845657246,'Ast2'),
    (332569843,'AeH4');

```

In [ ]:
db = connect_db('192.168.20.118', 'grogu', 'grogu', database = 'atelier6')

queries = ["""
    create table IF NOT EXISTS Scientists (
        SSN int,
        Name Char(30) not null,
        Primary Key (SSN)
    )ENGINE = InnoDB;
"""]

queries.append("""
    Create table IF NOT EXISTS Projects (
        Code Char(4),
        Name Char(50) not null,
        Hours int,
        Primary Key (Code)
    )ENGINE = InnoDB;
""")

queries.append("""
    create table IF NOT EXISTS AssignedTo (
        Scientist int not null,
        Project char(4) not null,
        Primary Key (Scientist, Project),
        Foreign Key (Scientist) references Scientists (SSN),
        Foreign Key (Project) references Projects (Code)
        )ENGINE = InnoDB;
""")

queries.append("""
    INSERT INTO Scientists VALUES
        (123234877,'Michael Rogers'),
        (152934485,'Anand Manikutty'),
        (222364883, 'Carol Smith'),
        (326587417,'Joe Stevens'),
        (332154719,'Mary-Anne Foster'),	
        (332569843,'George ODonnell'),
        (546523478,'John Doe'),
        (631231482,'David Smith'),
        (654873219,'Zacary Efron'),
        (745685214,'Eric Goldsmith'),
        (845657245,'Elizabeth Doe'),
        (845657246,'Kumar Swamy');
    """)

queries.append("""
    INSERT INTO Projects VALUES 
        ('AeH1','Winds: Studying Bernoullis Principle', 156),
        ('AeH2','Aerodynamics and Bridge Design',189),
        ('AeH3','Aerodynamics and Gas Mileage', 256),
        ('AeH4','Aerodynamics and Ice Hockey', 789),
        ('AeH5','Aerodynamics of a Football', 98),
        ('AeH6','Aerodynamics of Air Hockey',89),
        ('Ast1','A Matter of Time',112),
        ('Ast2','A Puzzling Parallax', 299),
        ('Ast3','Build Your Own Telescope', 6546),
        ('Bte1','Juicy: Extracting Apple Juice with Pectinase', 321),
        ('Bte2','A Magnetic Primer Designer', 9684),
        ('Bte3','Bacterial Transformation Efficiency', 321),
        ('Che1','A Silver-Cleaning Battery', 545),
        ('Che2','A Soluble Separation Solution', 778);

""")

queries.append("""
    INSERT INTO AssignedTo VALUES 
        (123234877,'AeH1'),
        (152934485,'AeH3'),
        (222364883,'Ast3'),	   
        (326587417,'Ast3'),
        (332154719,'Bte1'),
        (546523478,'Che1'),
        (631231482,'Ast3'),
        (654873219,'Che1'),
        (745685214,'AeH3'),
        (845657245,'Ast1'),
        (845657246,'Ast2'),
        (332569843,'AeH4');
""")

for query in queries:
    exe(db, query)

---

### Partie 2 - réaliser les requêtes suivantes :

#### 2.1/ Listez les noms de tous les scientifiques, les noms de leurs projets.

In [ ]:
db = connect_db('192.168.20.118', 'grogu', 'grogu', database = 'atelier6')

query = """
    SELECT
    Scientists.Name,
    Projects.Name
    FROM AssignedTo
    JOIN Scientists
    ON AssignedTo.Scientist = Scientists.SSN
    JOIN Projects
    ON AssignedTo.Project = Projects.Code;
"""

responses = exe(db, query, verbose = True)

for response in responses:
    print(f"{response}")

#### 2.2/ Rajoutez à la requête précédente les heures travaillées par ce scientifique sur chaque projet.

In [ ]:
db = connect_db('192.168.20.118', 'grogu', 'grogu', database = 'atelier6')

query = """
    SELECT
    Scientists.Name,
    Projects.Name,
    Projects.Hours
    FROM AssignedTo
    JOIN Scientists
    ON AssignedTo.Scientist = Scientists.SSN
    JOIN Projects
    ON AssignedTo.Project = Projects.Code;
"""

responses = exe(db, query, verbose = True)

for response in responses:
    print(f"{response}")

#### 2.3/ Rajouter à la requête précédente l'affichage par ordre alphabétique du nom du projet, puis du nom du scientifique.

In [ ]:
db = connect_db('192.168.20.118', 'grogu', 'grogu', database = 'atelier6')

query = """
    SELECT
    Projects.Name,
    Scientists.Name,
    Projects.Hours
    FROM AssignedTo
    JOIN Scientists
    ON AssignedTo.Scientist = Scientists.SSN
    JOIN Projects
    ON AssignedTo.Project = Projects.Code
    ORDER BY Projects.Name, Scientists.Name;
"""

responses = exe(db, query, verbose = True)

for response in responses:
    print(f"{response}")

#### 2.4/ Sélectionnez les noms de projets qui ne sont pas encore attribués.

In [ ]:
db = connect_db('192.168.20.118', 'grogu', 'grogu', database = 'atelier6')

query = """
    SELECT
    Projects.Name
    FROM Projects
    LEFT JOIN AssignedTo
    ON AssignedTo.Project = Projects.Code
    LEFT JOIN Scientists
    ON AssignedTo.Scientist = Scientists.SSN
    WHERE Scientists.SSN IS NULL;
"""

responses = exe(db, query, verbose = True)

for response in responses:
    print(f"{response[0]}")